DASHBOARD_PORT=8000
N8N_PORT=5678

DASHBOARD_API_URL=http://dashboard:8000/api/scans

OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=qwen2.5:3b

SOURCE_CODE_PATH=./sample-source

N8N_WEBHOOK_PATH=security-scan
PUBLIC_N8N_WEBHOOK_URL=https://your-ngrok-url.ngrok-free.dev/webhook/security-scan

SCAN_TARGET_URL=http://host.docker.internal:8080
